@font-face {
	font-family: 'entypo';
	src:url('/assets/entypo.eot');
	src:url('/assets/entypo.eot?#iefix') format('embedded-opentype'),
		url('/assets/entypo.woff') format('woff'),
		url('/assets/entypo.ttf') format('truetype'),
		url('/assets/entypo.svg#entypo') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-retweet, .icon-comment, .icon-clock, .icon-heart {
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.icon-retweet:before {
	content: "\e094";
	font-family: 'entypo';
}
.icon-comment:before {
	content: "\e000";
	font-family: 'entypo';
}
.icon-clock:before {
	content: "\e001";
	font-family: 'entypo';
}
.icon-heart:before {
	content: "\e002";
	font-family: 'entypo';
}
.icon-checkmark:before {
	content: "\e003";
	font-family: 'entypo';
}
.icon-cross:before {
	content: "\e004";
	font-family: 'entypo';
}
.icon-list:before {
	content: "\e005";
	font-family: 'entypo';
}
.icon-pencil:before {
	content: "\e006";
	font-family: 'entypo';
}
