// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.ideas.show
  .contribution_notice
    +grid-column(12)
  .idea_title, .idea_details
    +grid-column(12)
    h1
      line-height: normal
      margin-bottom: 0
  .idea_details
    font-size: .9em
    margin-bottom: 2em
  .idea_description
    +grid-column(8)
    .box
      margin-bottom: 40px
  .idea_panel
    +grid-column(4)
    a.vote
      &:hover
        color: $french-rose
    a.remix
      &:hover
        color: $casablanca
    a.vote, a.remix
      background: white
      display: block
      padding: 15px
      cursor: pointer
      color: gray
      margin-bottom: 20px
      +box-shadow(lightgray 0 1px 1px)
      +border-radius(0 0 5px 5px)
      &:first-child
        border-bottom: 1px solid lightgray
        margin-bottom: 0
        +border-radius(5px 5px 0 0)
      span
        display: inline-block
        font-weight: bold
        width: 10%
        &.icon-heart, &.icon-retweet
          width: 90%
        &:before
          vertical-align: middle
          margin-right: 10px
          font-size: 44px
        &:last-child
          color: $cerulean
          text-align: right
    .thanks_for_voting
      text-align: center
      margin-bottom: 20px
    .idea_share
      .box
        text-align: left
        h3
          font-weight: normal
          font-size: 1.5em
          margin: 0 0 10px 0
          color: gray
        .fb-like, iframe
          float: left
  form.new_contribution
    +grid-column(12)
    label
      margin-bottom: 5px
    textarea
      height: 100px
    a.submit
      float: right
      padding: 6px 15px 5px 15px
      &:before
        font-size: 28px
        color: rgba(255, 255, 255, .5)
      span
        position: relative
        top: 1px
    .field_with_errors
      label
        float: left

@media screen and (max-width: 800px)
  body.ideas.show
    .idea_share
      iframe
        margin-bottom: 10px

@media screen and (max-width: 750px)
  body.ideas.show
    .idea_description, .idea_panel
      +grid-column(6)

@media screen and (max-width: 640px)
  body.ideas.show
    .idea_description, .idea_panel
      +grid-column(12)
    .idea_description
      margin-bottom: 20px
    .idea_share
      iframe
        margin-bottom: 0
