// Place all the styles related to the problems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.problems.show
  .problem_notice, .problem_user
    +grid-column(12)
  .problem_title
    +grid-column(9)
    h1
      color: $cerulean
      small
        display: block
        font-size: .6em
        font-weight: normal
        line-height: normal
        margin-bottom: 5px
    .problem_description
      margin-bottom: 20px
    .problem_deadlines
      overflow: hidden
      margin-bottom: 20px
      .box
        float: left
        margin-right: 20px
        padding: 10px
        a.btn
          margin-left: 20px
          font-size: 12px
      span.icon-comment, span.icon-clock
        &:before
          font-size: 24px
      span.icon-clock
        &:before
          top: -1px
          position: relative
      span.close
        color: red
      span.open
        color: lighten(green, 10%)
    #edit_problem, #remove_problem
      display: inline-block
      margin-bottom: 20px
      margin-right: 10px
  .problem_objectives
    +grid-column(3)
    margin-bottom: 20px
    font-size: 14px
    h2
      font-size: 22px
      color: $casablanca
  .ideas_and_updates
    +grid-column(12)
    margin-bottom: 40px
    #ideas, #updates
      text-transform: none
      background: lightgray
      letter-spacing: normal
      display: inline-block
      margin-right: 10px
      span
        margin-left: 15px
      &.selected, &:hover
        background: $cerulean
    #new_update, #new_idea
      float: right
      margin-right: 0
  .no_updates_yet
    +grid-column(12)
  .update
    +grid-column(12)
    .image
      float: left
      margin-right: 20px
      img
        width: 250px
    .info
      position: relative
      .remove_and_edit
        position: absolute
        top: 0
        right: 0
        .icon-trash
          color: red
        .icon-pencil
          color: $casablanca
          margin-right: 5px
  .update, .update_facebox
    .created_at, .body
      font-size: 14px
      color: gray
    .body
      line-height: 1.4em
    .title
      font-size: 24px
      font-weight: bold
      margin-bottom: 10px
    hr
      margin: 30px 0
  .update_facebox
    .title
      width: 600px
    .image, .video
      margin-bottom: 20px
    hr
      margin-bottom: 10px
    .share
      text-align: center
    a.share
      &:hover
        +opacity(.9)
      &:first-child
        margin-right: 10px
  .idea
    margin-bottom: 20px
    +grid-column(4)
    .idea_top
      background: white
      padding: 20px
      +box-shadow(rgba(0, 0, 0, .15) 0 1px 1px)
      +border-radius(5px 5px 0 0)
      .title, .user
        white-space: nowrap
        overflow: hidden
      .title
        a
          color: $dove-gray
          font-weight: bold
          font-size: 18px
          &:hover
            color: $cerulean
            text-decoration: underline
      .user
        color: #BEBFC1
      .user, .description
        font-size: .9em
      .description
        min-height: 99px
        max-height: 99px
        overflow: hidden
        margin-top: 15px
    .idea_bottom
      background: white
      border-top: 1px solid lightgray
      +border-radius(0 0 5px 5px)
      +box-shadow(rgba(0, 0, 0, .15) 0 1px 1px)
      .icon-heart
        border-right: 1px solid lightgray
      .icon-heart, .icon-retweet
        font-size: 1.25em
        width: 50%
        padding: 10px 20px
        display: inline-block
        &:before
          color: lightgray
          font-size: 2em
        &.icon-heart.colored
          &:before
            color: $french-rose
        &.icon-retweet.colored
          &:before
            color: $casablanca
  .new_update_facebox, .edit_update_facebox
    textarea#update_body
      height: 200px
    form
      margin-bottom: 0
    label
      font-weight: bold
      font-size: 18px
      &.message
        font-size: 12px
        font-weight: normal

body.problems.index
  .banner_bg
    background: $cerulean url("banner-home-imagine.png") center 20px no-repeat
    padding-top: 320px
    padding-bottom: 20px
    margin-top: -40px
    margin-bottom: 40px
    text-align: center
    .banner
      +grid-column(12)
      a
        display: inline-block
        &:hover
          +opacity(.9)
  .problem_notice
    +grid-column(12)
  .problem
    +grid-column(6)
    img
      width: 155px
      height: 155px
      float: left
      margin: -20px 20px -20px -20px
      +border-radius(5px 0 0 5px)
    .user_name
      margin-bottom: 10px
      font-size: 14px
    .title
      font-weight: bold
      font-size: 18px
      margin-bottom: 20px
      height: 54px
      overflow: hidden
    .icon-clock
      font-size: 14px      
      &:before
        color: $casablanca
        position: relative
        top: -1px
      span.open
        color: lighten(green, 10%)
      span.closed
        color: red
    .box
      overflow: visible
  .new_problem
    +grid-column(6)
    .box
      height: 154px
      background: none
      border: gray 2px dashed
      text-align: center
      +box-shadow(none)
      .btn
        margin-top: 40px
        display: inline-block

body.problems.new, body.problems.create, body.problems.edit, body.problems.update
  form
    +grid-column(6, 0, 4)
    .action
      text-align: center

@media screen and (max-width: 900px)
  body.problems.show
    .idea
      +grid-column(6)
  body.problems.index
    .problem, .new_problem
      +grid-column(12)
  body.problems.new, body.problems.create, body.problems.edit, body.problems.update
    form
      +grid-column(12)

@media screen and (max-width: 500px)
  body.problems.show
    .idea
      +grid-column(12)
    .update
      .image
        display: none
  body.problems.index
    .problem
      .icon-clock
        display: none
