$dove-gray:   #666666
$casablanca:  #f9b93e
$cerulean:    #0dbde6
$athens-gray: #f4f5f7
$alabaster:   #fbfbfb

// Foundation variables
$header-font-family:  "Proxima Nova"
$header-font-color:   $dove-gray
$header-line-height:  1em
$h1-font-size:        2em
$small-font-color:    gray
$small-font-size:     45%

@import compass/reset
@import compass/css3
@import foundation
@import font

body
  background: $athens-gray
  font-family: "Proxima Nova"
  color: $dove-gray

header
  .mr_header
    background: white
    padding: 5px 0
    .mr_logo
      +grid-column(6)
      a
        display: inline-block
        width: 33px
        height: 0
        padding-top: 37px
        overflow: hidden
        background: url("/assets/meurio.png")
        float: left
    .login
      +grid-column(6)
      text-align: right
      font-size: 12px
      margin-top: 10px
      line-height: 20px
      img
        width: 20px
        height: 20px
        vertical-align: middle
  .imagine_header
    padding: 15px 0
    +box-shadow(rgba(0, 0, 0, .15) 0 10px 5px -5px inset)
    .imagine_logo
      +grid-column(6)
      a
        display: inline-block
        width: 156px
        height: 0
        padding-top: 82px
        background: url("/assets/imagine.png")
        overflow: hidden
        float: left
    .menu
      +grid-column(6)
      text-align: right
      padding-top: 10px

footer
  background: lightgray
  padding: 5px 0
  margin-top: 40px
  .signature
    text-align: right
    font-size: 12px
    +grid-column(12)

h1
  small 
    display: block
    font-weight: normal
    line-height: 1em

hr
  margin: 0

.row
  +grid-row

a
  color: $cerulean

.box
  background: white
  padding: 20px
  +box-shadow(rgba(0, 0, 0, .15) 0 1px 1px)
  +border-radius(5px)

body.problems.show
  .problem_statement
    background: $cerulean url("/assets/highlight.png") no-repeat center
    margin-bottom: 40px
    .statement
      +grid-column(12)
      span
        font-size: 32px
        color: white
        display: block
        padding: 40px 0
        font-weight: bold
        text-align: center
  .problem_title
    +grid-column(12)
    .problem_deadlines
      padding: 10px 0
      border-top: lightgray 1px solid
      border-bottom: lightgray 1px solid
      margin-bottom: 40px
      span
        font-weight: bold
        &:before
          font-weight: normal
          vertical-align: middle
          margin-right: 5px
        &:last-child
          margin-left: 20px
  .idea
    margin-bottom: 20px
    +grid-column(4)
    .idea_top
      background: white
      padding: 20px
      +box-shadow(rgba(0, 0, 0, .15) 0 1px 1px)
      +border-radius(5px 5px 0 0)
      .title
        font-weight: bold
        font-size: 18px
      .user
        color: lightgray
      .user, .description
        font-size: 14px
      .description
        min-height: 99px
    .idea_bottom
      background: white
      border-top: 1px solid lightgray
      +border-radius(0 0 5px 5px)
      +box-shadow(rgba(0, 0, 0, .15) 0 1px 1px)
      .icon-heart
        border-right: 1px solid lightgray
      .icon-heart, .icon-retweet
        font-size: 18px
        width: 50%
        padding: 10px 20px
        display: inline-block
        &:before
          color: lightgray
          font-size: 42px
          vertical-align: middle
          margin-right: 5px

body.ideas.show
  .idea
    +grid-column(8)
    .idea_details
      margin-bottom: 20px
  .idea_panel
    +grid-column(4)
    .box, a
      background: $alabaster
      margin-bottom: 20px
      +box-shadow(none)
    a.vote, a.remix
      display: block
      padding: 10px
      cursor: pointer
      color: gray
      +border-radius(0 0 5px 5px)
      &:hover
        background: white
      &:first-child
        border-bottom: 1px solid lightgray
        margin-bottom: 0
        +border-radius(5px 5px 0 0)
      span
        display: inline-block
        font-weight: bold
        width: 50%
        &:before
          vertical-align: middle
          margin-right: 10px
          font-size: 44px
        &:last-child
          color: $cerulean
          text-align: right
    h3
      font-weight: normal
      margin: 0 0 10px 0
    .idea_share
      text-align: right
      overflow: hidden
      margin-bottom: 10px
      .fb-like
        position: relative
        top: -5px
