$dove-gray:   #666666
$casablanca:  #f9b93e
$cerulean:    #0dbde6
$athens-gray: #f4f5f7
$alabaster:   #fbfbfb
$french-rose: #EF3567

// Foundation variables
$header-font-family:  "Proxima Nova"
$header-font-color:   $dove-gray
$header-line-height:  1em
$h1-font-size:        2em
$small-font-color:    gray
$small-font-size:     45%

@import compass/reset
@import compass/css3
@import foundation_and_overrides
@import fonts
@import sticky_footer
@import icomoon
@import hint-css-tooltip
@import problems
@import ideas
@import pages
@import contributions

body
  background: $athens-gray
  font-family: "Proxima Nova"
  color: $dove-gray

header
  background: white
  padding: 5px 0
  margin-bottom: 40px
  +box-shadow(gray 0 0 3px)
  .logo
    +grid-column(6)
    img
      float: left
    a
      &:first-child
        img
          padding-right: 20px
          border-right: 1px solid lightgray
          margin-right: 20px
      &:last-child
        img
          margin-top: 14px
  .menu
    +grid-column(6)
    text-align: right
    .links
      float: right
      padding-top: 2px
      a
        padding: 15px 20px 15px 0
        margin-right: 20px
        color: $casablanca
        text-align: left
        display: inline-block
        font-size: 1.1em
        font-family: "Proxima Nova"
        border-right: 1px lightgray solid
        &:hover
          span
            text-decoration: underline
        span
          display: block
          color: lighten(gray, 10%)
          font-size: .8em
    .login
      float: right
      text-align: right
      line-height: 67px
      font-size: 14px
      img
        vertical-align: middle
      a#auth-facebook
        &:hover
          +opacity(.9)
      span
        line-height: normal
        position: relative
        margin-right: 10px
        &:before, &:after
          left: 0
        a.icon-retweet
          font-size: 24px
          color: gray
          span.counter
            background: red
            color: white
            position: absolute
            left: 0
            top: 0
            font-size: 10px
            padding: 0 4px
            font-weight: bold
            +border-radius(2px)
  .menu_mobile
    position: relative
    .icon-list
      float: right
      margin-top: 16px
      color: gray
      cursor: pointer
      +border-radius(5px 5px 0 0)
      &:before
        font-size: 36px
      &.selected
        background: $cerulean
        color: white
    .links
      z-index: 999
      width: 250px
      right: 14px
      top: 50px
      position: absolute
      .box
        background: $cerulean
        color: white
        .user
          border-bottom: 1px solid white
          padding-bottom: 5px
          margin-bottom: 20px
          font-size: 12px
          img
            width: 25px
            height: 25px
            vertical-align: middle
            +border-radius(25px)
        a
          color: white
          display: block
          margin-bottom: 10px
          &:last-child
            margin-bottom: 0
          &:hover
            text-decoration: underline

footer
  background: $cerulean
  padding: 5px 0
  .signature
    text-align: right
    +grid-column(12)

.row
  +grid-row

.box
  background: white
  padding: 20px
  margin: 0 1px 20px 1px
  overflow: hidden
  +box-shadow(rgba(0, 0, 0, .15) 0 1px 1px)
  +border-radius(5px)
  p
    &:last-child
      margin: 0

.icon-retweet, .icon-comment, .icon-clock, .icon-heart
  &:before
    vertical-align: middle
    margin-right: 5px

a
  color: $cerulean
  &:hover
    color: lighten($cerulean, 10%)

.clear
  clear: both

.notice
  background: lighten(green, 10%)
  color: white
  padding: 5px 5px 3px 5px
  margin-bottom: 20px
  text-align: center
  font-weight: bold
  +border-radius(20px)

textarea, input[type='text']
  +border-radius(5px)
  resize: none

a.submit, a.btn, input[type='submit']
  background: $casablanca
  border: none
  color: white
  font-size: 15px
  text-transform: uppercase
  font-family: "Proxima Nova"
  font-weight: bold
  padding: 10px 15px 7px 15px
  margin: 0 1px 1px 1px
  letter-spacing: 1px
  cursor: pointer
  +background-image(linear-gradient(lighten($casablanca, 10%), darken($casablanca, 10%)))
  +border-radius(5px)
  +box-shadow(rgba(0, 0, 0, .15) 0 1px 1px)
  &:hover
    +background-image(linear-gradient(lighten($casablanca, 15%), darken($casablanca, 5%)))

.field_with_errors
  label.message
    color: red
    margin-bottom: 20px
  textarea, input[type='text']
    border-color: lighten(red, 40%)
    margin-bottom: 5px

p
  &:last-child
    margin-bottom: 0

img.user_image
  width: 25px
  +border-radius(25px)

@media screen and (max-width: 640px)
  header
    .menu
      display: none
    .logo
      +grid-column(10)
    .menu_mobile
      +grid-column(2)

@media screen and (min-width: 641px)
  header
    .menu_mobile
      display: none
